.jumbotron {
  background-image: url("/img/NavBkgd.gif");
  /* The image used */
  color: mistyrose !important;
  height: 600px;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */

  font-family: "Oswald", sans-serif;
}
